<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mssm.goods.mapper.GoodsMapper">

    <!--1.条件查询-->
    <select id="queryByCondition" parameterType="com.mssm.common.domain.QueryVO" resultType="com.mssm.common.domain.Goods">
        select * from goods
        <where>
            <if test="true">
                deleted = 0
            </if>
            <if test="name!='' and name!=null">
                name like concat('%',#{name},'%')
            </if>
            <if test="status!=null">
                status = #{status}
            </if>
        </where>
        ORDER BY createtime DESC
    </select>

    <!--2.更新状态-->
    <update id="updateStatus">
        update goods set status = #{status} where id = #{id} and deleted = 0
    </update>
</mapper>